@charset "utf-8";
/* CSS Document */
body{
	text-align: center;
}

p{
	padding: 100px;
}

a{
	border: solid 5px dimgray;
	border-radius: 25px;
	font-size: 24px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 25px;
	background-color: chartreuse;
}

a:hover{
	text-shadow: 2px 2px 7px white; 
}

/*Telefonlar için Ayrı Bir Tasarım*/
@media only screen and (max-width: 500px){
	
p{
	padding: 50px;
}

a{
	border: solid 5px dimgray;
	border-radius: 25px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	background-color: chartreuse;
}
	
a:hover{
	text-shadow: 2px 2px 7px white; 
}
	
}
